{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-primary">Fases e atividades do projeto: {{ projeto.nome }}</h2>

    <div class="list-group">
        {% for item in fases_com_atividades %}
            <div class="card mb-4 border-dark">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">📌 Fase : {{ item.fase.nome }}</h5>
                </div>
                <div class="card-body">
                    <!-- Lista de atividades já cadastradas -->
                    {% if item.atividades %}
                        <h6 class="text-primary">Atividades</h6>
                        <ul class="list-group">
                            {% for atividade in item.atividades %}
                                <li class="list-group-item">
                                    <strong>📍 {{ atividade.nome }}</strong><br>
                                    <small>{{ atividade.descricao or "Sem descrição" }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-muted">Nenhuma atividade cadastrada nesta fase.</p>
                    {% endif %}

                    <!-- Botão para adicionar nova atividade -->
                    <a href="{{ url_for('crisp.nova_atividade', projeto_id=projeto.id, fase_id=item.fase.id) }}" class="btn btn-success btn-sm mt-3">
                        ✏️ Adicionar Atividade
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ url_for('crisp.projeto_detalhes', projeto_id=projeto.id) }}" class="btn btn-secondary mt-3">
        Voltar ao Projeto
    </a>
	<br>
	<br>
	<br>
</div>
{% endblock %}